
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body style="background-color:beige">
        HelloGamecc ---------Left
        <button onclick="window.parent.mainrightfrmae.location.href='/LinkView/index'">跳转</button>
    </body>
    </html>

